@charset "UTF-8";
@font-face {
  font-family: "Paperlogy 4 Regular";
  src: url(https://framerusercontent.com/assets/lbMH2iYmyrPQ49LGEcV0RA2Vxxo.woff2);
  font-display: swap;
}
#eh_quick.quick_Menu {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
}
#eh_quick.quick_Menu a {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ehwave_love {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /*사랑 */
  /* 반응형 텍스트 스타일 */
  /* 전체 컨테이너 크기 */
  /* 중앙에 텍스트 */
  /* Lottie 애니메이션 컨테이너 */
  /* Lottie 애니메이션 컨테이너 */
  /* 손 애니메이션 */
  /* 손 애니메이션 반응형 */
  /*추억 애니메이션*/
  /*띠배너 시작 */
  /* 전체 배너 컨테이너 */
  /* 개별 배너 스타일 */
  /* 전체 이미지와 텍스트 컨테이너 설정 */
  /* 첫 번째 이미지 크기 설정 */
  /* 두 번째 이미지 크기 설정 */
  /* 텍스트 컨테이너 */
  /* 두 번째 배너 텍스트 컨테이너 */
}
#ehwave_love .left,
#ehwave_love .right,
#ehwave_love .left_top,
#ehwave_love .left_Memories {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
@media (min-width: 1280px) {
  #ehwave_love .left,
  #ehwave_love .right,
  #ehwave_love .left_Memories {
    margin-top: -100px;
  }
}
#ehwave_love .position-absolute.text-white {
  font-family: "Paperlogy 6 SemiBold", sans-serif;
  font-size: min(40px, 7vw);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}
#ehwave_love .love_list {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#ehwave_love .right {
  display: none !important;
}
@media (min-width: 768px) {
  #ehwave_love .right {
    display: block !important;
  }
}
#ehwave_love .position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 24px;
  text-align: center;
  display: block;
}
#ehwave_love .lottie-container, #ehwave_love .hello_2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-24%, -24%);
  width: 180%;
  height: 180%;
  pointer-events: none;
}
#ehwave_love .Memories-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation-name: memoryani;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
#ehwave_love dotlottie-wc {
  width: 100%;
  height: 100%;
}
#ehwave_love .love-text .Memories-text {
  text-align: center;
}
@media (max-width: 480px) {
  #ehwave_love .Memories-container {
    width: 400px;
    height: 400px;
    top: 0%;
  }
}
#ehwave_love .love-text p, #ehwave_love .Memories-text p {
  font-size: 30px;
  line-height: 1.6;
  color: #000;
  line-height: 1.2;
}
#ehwave_love .highlight {
  color: #754C43;
}
@media (max-width: 768px) {
  #ehwave_love .right p {
    display: none;
  }
}
#ehwave_love .left {
  position: relative;
  flex: 1;
}
#ehwave_love .left img {
  width: 200%;
  height: auto;
}
#ehwave_love .left_Memories {
  width: 100%;
  padding: 20px;
}
#ehwave_love .hand-container {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translateX(-50%) translateY(-50%) scale(3);
  z-index: 2;
  animation: handMovement 5s ease-in-out infinite;
}
@keyframes handMovement {
  0% {
    transform: translate(-50%, -20px) scale(1);
  }
  50% {
    transform: translate(-50%, 20px) scale(1);
  }
  100% {
    transform: translate(-50%, -20px) scale(1);
  }
}
@media (max-width: 768px) {
  #ehwave_love .hand-container {
    position: absolute;
    top: 5%;
    left: 70%;
    transform: translate(-50%, -50%) scale(2);
    animation: handMovement 5s ease-in-out infinite;
  }
}
@media (max-width: 480px) {
  #ehwave_love .hand-container {
    position: absolute;
    top: 5%;
    left: 70%;
    transform: translate(-50%, -50%);
    animation: handMovement 5s ease-in-out infinite;
  }
}
#ehwave_love .Memories-container svg.mo {
  animation: scaleAnimation 5s infinite alternate;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#ehwave_love .banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}
#ehwave_love .hand-animation {
  width: 180px;
}
#ehwave_love .ehcontent {
  position: relative;
  width: 1922px;
  height: 472px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ehwave_love .ehcontent img {
  width: 100%;
  height: auto;
}
#ehwave_love .ehcontent, #ehwave_love .ehcontent1 {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ehwave_love .ehcontent img {
  width: 100%;
  height: auto;
  max-width: 1922px;
  max-height: 472px;
}
#ehwave_love .ehcontent1 img {
  width: 100%;
  height: auto;
  max-width: 1922px;
  max-height: 528px;
}
#ehwave_love .text-container {
  position: absolute;
  bottom: 30px;
  left: 70%;
  transform: translateX(-50%);
  width: 569px;
  text-align: center;
  color: black;
  padding: 10px;
  box-sizing: border-box;
}
#ehwave_love .text-small {
  font-size: 18px !important;
  margin-top: 5;
  margin-bottom: 3px;
  line-height: 1.4;
}
#ehwave_love .text-large {
  font-size: 30px !important;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.3;
}
#ehwave_love .ehcontent1 {
  position: relative;
  width: 100%;
}
#ehwave_love .banner-text-container {
  position: absolute;
  bottom: 90px;
  left: 10%;
  transform: translateX(-40%);
  width: 90%;
  text-align: center;
  color: black;
  padding: 10px;
  box-sizing: border-box;
}
#ehwave_love .text-large {
  font-size: 30px;
  margin-bottom: 80px;
  line-height: 1.5;
}
#ehwave_love .text-small {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
}
@media (max-width: 1200px) {
  #ehwave_love #ehwave_love .right p {
    font-size: min(30px, 2.2vw);
  }
}
@keyframes memoryani {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}