.svg-love_1{
    width: 120rem;
    height: 384.125rem;
    background: #FFF;
    
}
.Memories_3 {
    position: relative;
    width: 30.515rem; 
    height: 29.70369re; 
    flex-shrink: 20;
    background-image: url('img/main_ci/Memories_3.png'); 
    background-size: cover; 
  }                      
  .svg-overlay {
    position: absolute; 
    top: 50%; 
    left: 100%; 
    transform: translate(-50%, -50%); 
  }
  .Hello_2 {
    position: relative;
    width: 37.36081rem; 
    height: 24.99919rem;
    background-image: url('img/main_ci/Hello_2.png'); 
    background-size: cover; 
  }
  .svg-overlay {
    position: absolute;
    top: 50%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    background: url(<path-to-image>) lightgray 0px 0px / 100% 100% no-repeat;

  }
  .svg-love_1 {
    position: relative;
    width: 30.515rem; 
    height: 30.5rem; 
    flex-shrink: 0;
    background-image: url('img/main_ci/love_1.png'); 
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center; 
  }  
  .img {
      max-width: 100%;         
      height: auto; 
  }
  .svg-overlay {
    position: absolute; 
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 

    
  }