@mixin generate-opacity($start, $end, $step) {
    @for $i from $start through $end {
      $value: $i * $step + $start;
      .opacity-#{$value * 10} {
        opacity: $value !important;
      }
    }
  }

@include generate-opacity(0, 10, 0.1);

  

.title {
    &.titlefont {
      color: #000000;
      font-family: "Paperlogy 7 Bold";
      font-size: min(2.5rem, 5.5vw);
      font-style: normal;
      // font-weight: 700;
      line-height: normal;
    }
  }
  

.descriptionfont{
    color: rgba(0, 0, 0, 0.70);
    font-family: "Paperlogy 3 Light";   
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#sy_imagead{
   
    gap:20px;
    .titles{   
      
        .description{
    font-size: min(1rem, 3vw);
        }
    }
    .image-section{
        
        gap: 40px;
        .image-box{
            a{
                border-radius: 23px;
                overflow: hidden;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    left:0; top:0; width:100%; height:100%;
                    background-color: rgba(0,0,0,0.7);
                    opacity: 0;
                    transition: 0.3s;
                }
                &:hover{
                    &:before{
                        opacity: 1;
                    }
                    .hover-text{
                        opacity: 1;
                        font-size: 1.5rem;
                    }
                }
            }

            img{
                width:100%;
                border-radius: 1.45rem;
            }
            .hover-text{
                bottom:70px;
                font-size: 2rem;
                letter-spacing: -0.08em;
                font-family: "Paperlogy 4 Regular";
                opacity: 0;
                transition: 0.5s;
            }
        }
    }
}

#ehwave_banner1{
    p{
        color:#000000 !important;
    }
}
.texttt-large {
    font-size: min(30px, 3vw);
    margin-top: 0; 
    margin-bottom: 5px; 
    line-height: 1.3; 
  }

  .basicfontt{
    color: #6A6969; 
    font-size: min(1rem, 3vw);
    font-style: normal;  
    line-height: normal;
  }

  .basicfonttda{
    color: #000000; 
    font-size: min(1rem, 3vw);
    font-style: normal;  
    line-height: normal;
  }

  #ehwave_banner1{
    .ehcontent{
        height: min(471px, 51vw);


    }

    .ehcontentBanner1{
        background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/img/banner/banner_1.jpg) no-repeat;
        background-position: center;
        background-size: auto 100%;
        @media (max-width:1024px) {
            background-position: 15% center;    
            margin-bottom: 0;  
            font-family: "Paperlogy 4 Regular";
        }
        
        

    }
    .ehcontentBanner2{
        background: url(/img/banner/banner_2.jpg) no-repeat;
        background-position: center;
        background-size: 100% auto;
        @media (max-width:1024px) {
            background-position: 70% center;
            background-size: auto 100%;
            margin-bottom: 0;  
            font-family: "Paperlogy 4 Regular";
        }
    }

    .sy_Banner2p {
        margin-left: 8rem;
        margin-bottom: 0;
    }
    .sy_Banner1p {
        margin-right: 3rem;
        margin-bottom: 0;
    }
}