.container {
    position: relative;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정확히 가운데로 위치 */
    width: 50%;  /* 예시로 너비 설정 */
    height: 50%; /* 예시로 높이 설정 */
    width: 75.25rem;
    height: 81.1875rem;
    flex-shrink: 0;
}

body {
    font-family: 'PMyFont', Paperlogy;
    color: #000;
    padding-bottom: both;
    text-wrap: cap;
    font-family: Paperlogy;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.svg-love_1{
    color: var(--MainBrown, #754C43);
    text-align: center;
    padding-bottom: both;
    text-wrap: cap;
    font-family: Paperlogy;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
